* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


@font-face{
    font-family: "NOTOSANSKR-REGULAR";
    src: url("./font/NOTOSANSKR-REGULAR.woff") format("woff");
}

@font-face{
    font-family: "NANUMGOTHIC-REGULAR";
    src: url("./font/NANUMGOTHIC-REGULAR.woff") format("woff");
}

@font-face{
    font-family: "GOTHICA1-REGULARR";
    src: url("./font/GOTHICA1-REGULAR.woff") format("woff");
}

.Start{
    opacity: 0;
}

.End{
    opacity: 1;
    transition: opacity 1s;
}

.HomeStart{
    opacity: 0;
}

.HomeEnd{
    opacity: 1;
    transition: opacity 1.5s;
}